# Entorno virtual
.venv/
venv/
env/

# Archivos de base de datos locales
db.sqlite3
backup_sqlite.json

# Archivos de configuración o entorno
.env
.env.local
.env.*.local

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Archivos de logs
*.log

# Archivos temporales o backups
*.bak
*.tmp
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Node/Tailwind
node_modules/
dist/
build/

# Archivos de cobertura de pruebas
.coverage
htmlcov/
.pytest_cache/

# Archivos de editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de Python packaging
*.egg
*.egg-info/
pip-wheel-metadata/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos de profiling
.prof